<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cakes List</title>
    <meta charset="UTF-8">
</head>
<style>
    body {
        font-family: Arial;
        font-size: 12px;
    }   
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .imgCard {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #efefef;

    }
</style>
<body>

<h1>Cake List</h1>

<div class="container" th:each="cake : ${cakesList}">
    <div class="imgCard">
        <img th:src="${cake.image}" th:onerror="'this.src=\'' + @{/img/dummy-cake.jpg} + '\';'" width="100" />
        <h4 th:text="${cake.title}" />
        <p th:text="${cake.desc}" />
        </div>
    </div>
</div>

</body>
</html>